doctype html
html(lang='en')
    head
        title= title
        meta(charset='utf-8')

        // Use Bootstrap 4.0.0
        script(src='https://code.jquery.com/jquery-3.2.1.slim.min.js')
        script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js')
        link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css')
    body
        .container
            section
                p
                    h3= title

            div
                section
                    p.text-primary Boggle solver average running time (measured over 1000 iterations):
                        p !{time}
